{% extends 'app/base.html' %}
{% load static %}
{% block content %}

<div>
    <h1 class="text-center">STUDENT INFORMATIONS</h1>

    <div><button class="btn btn-warning btn-outline-success"><a style="text-decoration: none;" class="text-white" href="{% url 'add' %}">Add Student Details</a></button></div>
    <div class="text-center">
        <table class="col-sm-12 table table-hover bg-white">
            <thead>
              <tr style="background-color:teal;" class="text-center">
                <th>ID</th>
                <th>ROLL NUMBER</th>
                <th>STUDENT NAME</th>
                <th>AGE</th>
                <th>MARKS</th>
                {% if request.user.is_superuser %}
                <th>ACTION</th>
                {% endif %}
              </tr>
            </thead>
            
            <tbody>
            {% if fm %}
            {% for f in fm %}
              <tr class="text-center">
                <td>{{f.id}}</td>
                <td>{{f.roll}}</td>
                <td>{{f.name|capfirst}}</td>
                <td>{{f.age}}</td>
                <td>{{f.marks}}</td>
                {% if request.user.is_superuser %}
                <th><a href="{% url 'changedata' f.id %}" class="btn btn-info btn-primary-sm btn-success">Update</a>
                    <a href="{% url 'deletedata' f.id %}" class="btn btn-info btn-primary-sm btn-danger">Delete</a></th>
                {% endif %}
            </tbody>
            {% endfor %}
            {% else %}
            <tr class="text-center">
              <td></td>
              <td></td>
              <td><h2>No Data Available</h2></td>
              <td></td>
              <td></td>
            </tr>
            {% endif %}
          </table>
     </div>
</div>




{% endblock %}